# =========================
# Python 기본
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# 가상환경 (Virtual Environment)
# =========================
venv/
env/
.venv/

# =========================
# 보안 및 환경변수
# =========================
.env
.env.*
*.pem

# =========================
# PaddleOCR 및 프로젝트 임시 파일
# =========================
# PaddleOCR 모델이 다운로드되는 임시 캐시 폴더
.paddleocr/
inference/

# =========================
# IDE 및 OS 시스템 파일
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db